/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* FONT AWESOME */
@font-face {
  font-family: "fa-Solid-900";
  src: url("../fonts/fa-solid-900.woff2") format("woff2"),
    url("../fonts/fa-solid-900.woff") format("woff");
}

@font-face {
  font-family: "FA-Brands-400";
  src: url("../fonts/fa-brands-400.woff2") format("woff2"),
    url("../fonts/fa-brands-400.woff") format("woff");
}

.fa-plus:before {
  content: "\f067";
}

.fa-linkedin:before {
  content: "\f08c";
}

.fa-github:before {
  content: "\f09b";
}

.fa-code:before {
  content: "\f121";
}

.fa-network-wired:before {
  content: "\f6ff";
}

.fa-meteor:before {
  content: "\f753";
}

.fas {
  font-family: "fa-Solid-900";
  font-weight: 900;
  font-style: normal;
}

.fab {
  font-family: "FA-Brands-400";
  font-weight: 400;
  font-style: normal;
}

/* RESET BROWSER MARGIN / PADDING */
ul {
  margin: 0;
  padding: 0;
}

/* DEFAULT PAGE STYLING - MOBILE FIRST */
body {
  font-family: "Comfortaa", cursive;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* Hamburger Menu (3 lines) */
.toggle-icon span {
  width: 1.875rem; /* 30px */
  height: 0.25rem; /* 4px */
  margin-bottom: 0.375rem; /* 6px */
  border-radius: 6.25rem; /* 100px */
  background-color: #373737;
  display: block;
}

.menu-links {
  flex-direction: column;
}

.menu-links li {
  line-height: 3.75rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 239, 1) 100%
  );
  /*display: flex; */
}

.menu-links a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #707070;
  padding-left: 2rem;
  font-size: 1.125rem;
}

header nav {
  position: absolute;
  background-color: rgba(255, 255, 255, 3);
  width: 100vw;
  left: 0;
  max-height: 0;
  overflow: hidden;
}

ul {
  list-style: none;
}

.show-nav {
  max-height: 22.5rem;
}

.logo {
  padding: 1rem;
  align-items: center;
}

.banner {
  display: flex;
  align-items: flex-end;
  background: #fff url(../img/banner-img-xs.png) no-repeat bottom center;
  min-height: 215px;
  color: #000;
  padding: 1rem 2.5rem 2.5rem 2.5rem;
  text-align: right;
}

.banner h2 {
  font-family: "Staatliches", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  margin: 0 0 1rem 0;
  text-shadow: -2px 2px #fff;
}

.banner h5 {
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.5rem;
  font-weight: bold;
  background-color: rgba(21, 196, 166, 0.7);
  border-radius: 1rem 0;
  padding: 0.4rem 0.6rem;
  box-shadow: -5px 5px #373737;
  margin: 0 0 -1.25rem 0;
}

.about-me-section {
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /* margin-bottom: 2.5rem; */
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-header h2 {
  font-family: "Staatliches", cursive;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem;
  border-bottom: 4px solid #39e6c6;
}

.about-me-img img {
  border-radius: 3rem 0;
  border: 10px solid #373737;
}

.about-me-txt {
  font-size: 1rem;
  line-height: 1.65rem;
  margin: 0 2rem;
}

.about-me-links {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 1rem;
}

.about-link:last-child {
  margin-bottom: 2rem;
}

.about-me-links a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  padding: 0.75rem;
  background-color: #373737;
  border-radius: 1rem 0;
}

.about-me-links a:hover {
  background-color: #707070;
  color: #39e6c6;
}

/* CONTACT FORM */
.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 2rem;
  border: 5px solid #373737;
}

.container h2 {
  font-family: "Staatliches", cursive;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 0;
}

.form-container div {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
  margin: 0 1rem;
}

.form-container label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-container input {
  vertical-align: middle;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 0.3rem;
}

input[type="submit"],
input[type="reset"] {
  padding: 1rem;
  display: inline-block;
  background: #555;
  color: #fff;
  border-radius: 1rem;
  border: none;
  transition: all 0.25s ease-in-out;
}

textarea {
  min-height: 5rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  padding: 0.8rem;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: green;
  color: #fff;
}

input[type="reset"]:hover,
input[type="reset"]:focus {
  background-color: rgb(238, 149, 16);
  color: #fff;
}

::placeholder {
  color: gray;
}

.required {
  color: red;
  font-weight: bolder;
  font-size: 1.2rem;
}

input:required:focus:invalid {
  background: #fff url(../img/red-x.png) no-repeat 98% center;
}

input:required:focus:valid {
  background: #fff url(../img/checkmark.png) no-repeat 98% center;
}

.success-text {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.success-text h2 {
  font-family: "Staatliches", cursive;
  letter-spacing: 0.05rem;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 0.4rem;
}

.success-text p {
  font-weight: bold;
  font-size: 1.25rem;
}

.home-link {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  background-color: #373737;
  border-radius: 1rem 0;
  margin: 0 6rem 2rem 6rem;
}

.home-link:hover {
  background-color: #707070;
  color: #39e6c6;
}

/* PROGRAMMING PORTFOLIO PAGE */
.programming-page {
  margin: 1.125rem;
  flex-direction: column;
}

/* .skills{
  max-width: 40rem;
} */

.skills-header {
  max-width: 40rem;
}

.programming-page h2,
h4 {
  font-family: "Staatliches", cursive;
}

.programming-page h2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  margin: 0;
  border-bottom: 5px solid #39e6c6;
}

.skills h4 {
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  margin: 1rem 0 0.5rem 0;
  border-bottom: 2px solid #000;
}

.skills {
  flex-direction: column;
}

.skills-list {
  flex-direction: column;
  flex-wrap: wrap;
}

.prog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 0.375rem;
}

.fa-li {
  margin: 0.375rem;
}

.prog-list li {
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.projects {
  margin-top: 2rem;
}

.projects h2 {
  margin-bottom: 2rem;
  max-width: 40rem;
}

.project-card article .image {
  display: inline-block;
  /* padding-right: 2.5em; */
  vertical-align: middle;
  width: 70%;
}

.project-card article .image img {
  display: block;
  width: 100%;
  border-radius: 0 1rem;
}

.project-card article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 2px dashed #000;
}

article a {
  text-decoration: none;
  color: #000;
}

article .inner a:hover {
  color: #555;
}

article h4 {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  text-align: center;
  margin: 1rem;
}

article p {
  text-align: center;
  margin: 0 1rem 2rem 1rem;
}

article img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

article img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* FOOTER */
footer {
  background-color: #373737;
  padding: 2rem;
  color: white;
  flex-direction: row;
  margin-top: 2rem;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer-web-links a {
  margin: 0;
  line-height: 2.25rem;
}

.footer-web-links a:hover {
  color: #39e6c6;
  border-bottom: 4px solid #fff;
}

.social-media-icons {
  flex-direction: row;
  order: 1;
}

.social-media-icons a {
  font-size: 2rem;
  margin: 0 1rem;
}

.social-media-icons a:hover {
  color: #39e6c6;
}

.page-header h1 {
  font-family: "Staatliches", cursive;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  border-bottom: 5px solid #39e6c6;
  text-align: center;
  color: #000;
  line-height: 1;
  margin-bottom: 3rem;
}

/*=============================*/
/*====== MEDIA QUERIES ======= */
/*=============================*/

@media screen and (min-width: 450px) {
  .banner {
    background: #fff url(../img/banner-img-sm.png) no-repeat bottom center;
    min-height: 334px;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 768px) {
  /* NAV */
  .toggle-icon {
    display: none;
  }

  header nav {
    max-height: 8rem;
    position: static;
    width: auto;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    justify-content: center;
  }

  .menu-links {
    flex-direction: row;
    align-items: center;
  }

  .menu-links li {
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
    line-height: 2rem;
    background: none;
  }

  .menu-links a {
    padding: 0 1rem;
  }

  .menu-links li a:hover {
    color: #707070;
    background-color: #39e6c6;
    border-radius: 10px 0 6px 0;
  }

  .banner {
    background: #fff url(../img/banner-img-md.png) no-repeat bottom center;
    min-height: 340px;
    justify-content: flex-end;
  }

  .banner h2 {
    font-size: 5.5rem;
    letter-spacing: 0.3rem;
  }

  .banner h5 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.8rem 1rem;
    box-shadow: -5px 5px #373737;
    margin: 0 0 3rem 0;
    max-width: 500px;
  }

  .about-me-section {
    padding-top: 1rem;
  }
  .about-me-header h2 {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }

  .about-me-img img {
    margin-bottom: 1rem;
  }

  .about-me-txt {
    font-size: 1.25rem;
    line-height: 1.65rem;
  }

  .about-me-links {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }

  .about-link {
    margin: 1rem;
  }

  .about-me-links a {
    font-size: 1.25rem;
    padding: 0.875rem;
  }

  .form-page {
    display: flex;
    justify-content: center;
  }

  .container {
    align-items: center;
    max-width: 50rem;
  }

  .form-container {
    min-width: 45rem;
    max-width: 45rem;
  }

  .form-container div {
    display: block;
  }

  input,
  textarea {
    width: 96%;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  input[type="submit"],
  input[type="reset"] {
    width: 10rem;
    display: inline-block;
    margin: 0 1rem 1rem 1rem;
  }

  .footer-web-links a {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }

  .social-media-icons a {
    font-size: 4.5rem;
  }

  /* PROGRAMMING PAGE */
  .programming-page {
    margin: 0 3rem;
  }

  .page-header h1 {
    font-size: 4rem;
    margin: 0 1rem 3rem 1rem;
  }

  .programming-page h2 {
    font-size: 2.5rem;
  }

  .skills h4 {
    font-size: 1.5rem;
  }

  .skills-list {
    flex-direction: row;
    justify-content: center;
  }

  .skills-div {
    max-width: 45%;
    text-align: center;
    margin: 0.5rem;
  }

  .prog-list {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 850px) {
  .banner {
    background: #fff url(../img/banner-img.png) no-repeat bottom center;
    min-height: 450px;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1140px) {
  body {
    max-width: 71.25rem; /* 1140px */
    margin: 0 auto;
  }

  .about-me-section {
    align-items: flex-start;
  }

  .about-info {
    flex-direction: row-reverse;
  }

  .about-me-header h2 {
    font-size: 5rem;
    line-height: 1;
    margin: 2rem 0 0 0;
  }

  .about-me-txt {
    margin-left: 0;
  }

  .about-me-links {
    min-width: 1140px;
    justify-content: center;
  }

  .about-me-links a {
    padding: 1.25rem;
  }

  .menu-links li {
    padding: 0.5rem;
  }

  .menu-links a {
    font-size: 1.25rem;
  }

  .page-header h1 {
    font-size: 5rem;
  }

  .skills-div {
    max-width: 30%;
  }

  .skills {
    margin-left: 1rem;
  }

  .skills-header {
    max-width: 99%;
  }

  .projects {
    margin-left: 1rem;
  }

  .projects h2 {
    max-width: 99%;
  }

  .project-card {
    padding: 2rem;
  }

  .project-card article {
    flex-direction: row;
  }

  .inner {
    margin-left: 1rem;
  }

  .project-card article p {
    text-align: left;
  }

  .inner h4 {
    text-align: left;
  }

  .image {
    margin-bottom: 2rem;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
